[submodule "prog-4-course-materials"]
	path = prog-4-course-materials
	url = https://github.com/otago-polytechnic-bit-courses/prog-4-course-materials.git
[submodule "prog-4-practicals-Samuel0Martin"]
	path = prog-4-practicals-Samuel0Martin
	url = https://github.com/otago-polytechnic-bit-courses/prog-4-practicals-Samuel0Martin.git
